<!DOCTYPE html>
<html>
<head>
<style>
	.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 200px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
.column {
  float: left;
  width: 25%;
  margin-bottom: 16px;
  padding: 0px;
}

</style>
</head>
<body>
	<div class="about-section">
  <h1>About Us Page</h1>
  <!-- <p>Some text about who we are and what we do.</p> -->
  <p>We all are very different. We were born in different cities,  at different times, we love different things.</p><p> But we have something that unite us all to make this happen.it is our aditya technical hub .</p><p>all adityan's  heart.we are not just a team .we are family</p>
</div>
<h2 style="text-align:center;font-size: 30px">Our Team</h2>
<div class="row">
      <div class="column">
         <div class="card">
  
            <h1>Kala Rani</h1>
  <!-- <p class="title">CEO & Founder, Example</p> -->
            <p>Aditya College Of Engineering</p>
  
            <p><button>Contact</button></p>
        </div>
      </div>

      <div class="column">
        <div class="card">
            <h1>Sowjanya</h1>
  <!-- <p class="title">CEO & Founder, Example</p> -->
            <p>Aditya College Of Engineering</p>
  
            <p><button>Contact</button></p>
        </div>
      </div>

     <div class="column">
     	<div class="card">
           <h1>Prashanthi</h1>
  <!-- <p class="title">CEO & Founder, Example</p> -->
           <p>Aditya College Of Engineering</p>
  
           <p><button>Contact</button></p>

        </div>
     </div>

     <div class="column">
      	<div class="card">
           <h1>Sindhura</h1>
  <!-- <p class="title">CEO & Founder, Example</p> -->
           <p>Aditya College Of Engineering</p>
  
           <p><button>Contact</button></p>
        </div>
    </div>
</div>



</body>
</html>