<!DOCTYPE html>
<html>
<head>
<style>
h1{
  margin: 0 auto;
  padding:20px;
  background-color:blue;
  color:whitesmoke;
  font-size:50px;
  width:100%;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;

}

td, th {
  border: 3px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
  <div>
  <h1>Apply Job</h1></div>

<div>


<div class="topnav">
  <div class="search-container">
    <input type="text" placeholder="Search.." name="search" style="float:right; padding:10px;font-size:20px">
      </div><br>
  

  

<table>
  <tr>
  
    <th>Job Title</th>
    <th>Company Title</th>
    <th>Job Description</th>
    <th>Monthly in hand salary</th>
    <th>Job Location</th>
    <th>No of Openings</th>
    <th>Apply Date</th>
    <th>Last Date</th>
    <th>Upload Resume</th>

  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><input type="file" id="myfile" name="myfile"></td>
  </tr>
  
</table>
</div>
<a href="/stu_dash" style="color:blue">Back to home!</a>

</body>
</html>