<!DOCTYPE html>
<html>
<head>
<style>
h1{
  padding:50px;
  background-color:grey;
  font-size:50px;
  width:100%;
  text-align: center;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width:100%;

}

td{
  border: 3px solid #dddddd;
  padding: 15px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
  <div>
  <h1> STUDENT PROFILE</h1></div>
<table border = "2" width = "100%">
         <tr>
            <td><h3>About Details</h3></td><td><h3>Details of the Student</h3></td>
         </tr>
         
         <tr>
            <td>Student Name</td><td>Pooja</td>
         </tr>
         
         <tr>
            <td>Roll Number</td><td>1710463</td>
         </tr>
         <tr>
            <td>Email Address</td><td>pooja@gmail.com</td>
         </tr>
         <tr>
            <td>Address</td><td>rajahmundry</td>
         </tr>
         <tr>
            <td>Mobile Number</td><td>7654987654</td>
         </tr>
         <tr>
            <td>Student Registered Date</td><td>01-8-2019</td>
         </tr>
      </table>
      <a href="/admindashboard" style="color:blue"><h3>Back to home</h3></a>
</div>

</body>
</html>



